
/* Add this to your CSS file */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Rajdhani, sans-serif;
  overflow-x: hidden;
  /* background-image: url(/img/bgabout.jpg); */
}

.navbar {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo {
  display: flex;
  margin-top: 10px;
}

.logo-text {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 10px;
}

.logo-text h2 {
  font-size: 20px;
  max-width: 100px;
}

#navbar {
  background-color: green;
}


hr {
  border: 0;
  border-top: 3px solid blue;
  margin-top: 0;
  width: 100%;
}

footer {
  color: white !important;
  background-color: whitesmoke;
  padding-top: 10px;
  border: 0;
  background-image: url(img/footer.webp);
  object-fit: cover;
}

main {
  margin-top: 15px;
  margin-bottom: 15px;
}

.elementor-shape-fill {
  fill: #228b22; /* Forest green */
}

#main-wave,
#main-wave2 .elementor-shape-fill {
  fill: #228b22;
}

#main-wave2 {
  margin-top: -7px;
}

#main-wave {
  transform: rotateX(180deg);
  margin-bottom: -5px;
}

#footer-wave .elementor-shape-fill {
  fill: #091d3f;
}

#footer-wave {
  transform: rotateX(180deg);
  margin-bottom: -5px;
}


footer .social-icon,
footer .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .menu,
footer .social-icon {
  width: 400px;
  position: relative;
}

footer .social-icon li a,
footer .menu li a {
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer ion-icon {
  font-size: 2em;
}
