/* Add this to your CSS file */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Rajdhani, sans-serif;
  overflow-x: hidden;
  /* background-image: url(/img/bgabout.jpg); */
}

.navbar {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo {
  display: flex;
  margin-top: 10px;
}

.logo-text {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 10px;
}

.logo-text h2 {
  font-size: 20px;
  max-width: 100px;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 80%;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* #home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
} */

#navbar {
  padding-right: 20px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  color: black;
  width: 100vw;
  overflow-x: hidden;
}

#navbar.scrolled {
  background-color: white;
  color: black;
  text-shadow: none;
}

.text-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-self: center;
  position: absolute;
  color: white;
  z-index: 2;
  text-align: center;
  align-items: center;
}

.typing {
  color: white;
  font-weight: 500;
  border-right: 0.01rem solid rgb(0, 0, 0);
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: typing 6s steps(30, end) forwards infinite;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.top-welcome {
  font-size: 1em;
  font-weight: 500;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

.profile {
  margin-top: 50px;
}

.profile img {
  padding: 1ch;
}

.profile h1 {
  color: blue;
  margin-left: 10px;
  font-weight: 600;
}

.desc h1 {
  color: black;
  font-weight: bold;
}

.desc p {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
  font-weight: 1;
  text-indent: 20px;
}

hr {
  border: 0;
  border-top: 3px solid blue;
  margin-top: 0;
  width: 100%;
}

footer {
  color: white !important;
  background-color: whitesmoke;
  padding-top: 10px;
  border: 0;
  background-image: url(img/footer.webp);
  object-fit: cover;
}

main {
  margin-top: 15px;
  margin-bottom: 15px;
}

#about {
  margin-top: 50px;
  padding: 0 15px;
}

#about ol {
  text-align: center;
}

#sejarah {
  margin-top: 50px;
  padding: 50px 0 15px 15px;
  background-color: #dbe7d5;
  height: 50vh;
}

#kegiatan {
  margin-top: 50px;
}

#kegiatan h1 {
  padding: 0 15px;
}

.elementor-shape-fill {
  fill: #228b22; /* Forest green */
}

#main-wave,
#main-wave2 .elementor-shape-fill {
  fill: #228b22;
}

#main-wave2 {
  margin-top: -7px;
}

#main-wave {
  transform: rotateX(180deg);
  margin-bottom: -5px;
}

#footer-wave .elementor-shape-fill {
  fill: #091d3f;
}

#footer-wave {
  transform: rotateX(180deg);
  margin-bottom: -5px;
}

footer .social-icon,
footer .menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .menu,
footer .social-icon {
  width: 400px;
  position: relative;
}

footer .social-icon li a,
footer .menu li a {
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer ion-icon {
  font-size: 2em;
}

/* carousel */
.carousels {
  height: 100vh;
  /* margin-top: -50px; */
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousels .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousels .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousels .list .item .content {
  position: absolute;
  font-weight: 800;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: black;
  /* text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey; */
  text-shadow: 0 5px 10px #0004;
}
.carousels .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}
.carousels .list .item .title,
.carousels .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousels .list .item .topic {
  color: #f1683a;
}
.carousels .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousels .list .item .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousels .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: 500;
}
.thumbnail .item .content .description {
  font-weight: 300;
}
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousels .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousels .list .item:nth-child(1) .content .author,
.carousels .list .item:nth-child(1) .content .title,
.carousels .list .item:nth-child(1) .content .topic,
.carousels .list .item:nth-child(1) .content .des,
.carousels .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousels .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousels .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousels .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousels .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousels.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousels.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousels.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousels.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousels .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousels.next .time,
.carousels.prev .time {
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousels.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousels.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousels.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousels.next .arrows button,
.carousels.prev .arrows button {
  pointer-events: none;
}
.carousels.prev .list .item:nth-child(2) .content .author,
.carousels.prev .list .item:nth-child(2) .content .title,
.carousels.prev .list .item:nth-child(2) .content .topic,
.carousels.prev .list .item:nth-child(2) .content .des,
.carousels.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousels .list .item .content {
    padding-right: 0;
  }
  .carousels .list .item .content .title {
    font-size: 30px;
  }
}
