/* Add this to your CSS file */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Rajdhani, sans-serif;
  overflow-x: hidden;
  /* background-image: url(/img/bgabout.jpg); */
}

.navbar {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo {
  display: flex;
  margin-top: 10px;
}

.logo-text {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 10px;
}

.logo-text h2 {
  font-size: 20px;
  max-width: 100px;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 50%;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* #home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
} */

#navbar {
  padding-right: 25px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  color: black;
  width: 100vw;
  overflow-x: hidden;
}

#navbar.scrolled {
  background-color: white;
  color: black;
  text-shadow: none;
}

.text-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-self: center;
  position: absolute;
  color: white;
  z-index: 2;
  text-align: center;
  align-items: center;
}

.typing {
  color: white;
  border-right: 0.01rem solid rgb(0, 0, 0);
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: typing 6s steps(30, end) forwards infinite;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

.top-welcome {
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

.carousel-item {
  height: 200px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  min-height: 200px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.profile {
  margin-top: 50px;
}

.profile img {
  padding: 1ch;
}

.profile h1 {
  color: blue;
  margin-left: 10px;
  font-weight: 600;
}

.desc h1 {
  color: black;
  font-weight: bold;
}

.desc p {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
  font-weight: 1;
  text-indent: 20px;
}

hr {
  border: 0;
  border-top: 3px solid blue;
  margin-top: 0;
  width: 100%;
}

footer {
  color: white !important;
  background-color: whitesmoke;
  padding-top: 10px;
  border: 0;
  background-image: url(img/footer.webp);
  object-fit: cover;
}

main {
  margin-top: 15px;
  margin-bottom: 15px;
}

.elementor-shape-fill {
  fill: #228b22; /* Forest green */
}

#main-wave,
#main-wave2 .elementor-shape-fill {
  fill: #228b22;
}

#main-wave2 {
  margin-top: -5px;
}

#main-wave {
  transform: rotateX(180deg);
  margin-bottom: -5px;
}

#footer-wave .elementor-shape-fill {
  fill: #091d3f;
}

#footer-wave {
  transform: rotateX(180deg);
  margin-bottom: -5px;
}

.btn-floating:hover {
  border: 2px solid #000;
  border-radius: 50%;
}

footer .social-icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .menu,
footer .social-icon {
  width: 400px;
  position: relative;
  left: -15px;
}

footer .social-icon li a,
footer .menu li a {
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer ion-icon {
  font-size: 2em;
}
